@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --color-bg: #34394b;
  --color-bg-2: #1d2537;
  --color-cart: #666e7e;
  --natural-bk: #000;
  --color-sec: #bdacb8;
  --natural-white: #fefefe;
  --color-green: green;

  /* margin */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* border-radius */

  --border-radius: 15px;
  --border-radius-2: 20px;

  /* transition */
  --transition: 400ms ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  transition: all var(--transition);
  border: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: auto;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-sec);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Circle animation */
.circle {
  min-width: 500px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-border {
  width: 3rem;
  height: 3rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  color: var(--natural-white);
  border-top: 0.25rem solid #e83e8c;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ends */

/* Privated Route style */
.PrivateRoutes {
}

/*Slidar section start here*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

.swiper-slide img {
  border-radius: var(--border-radius);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Header */
.H-logo {
  font-size: 30px !important;
  margin: 0.4rem;
  font-weight: 600;
}
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1.3rem;
}
.butn {
  color: var(--color-bg-2) !important;
  text-decoration: none;
  font-weight: 500;
  /* font-size: 16px; */
  padding: 0.5rem 1rem !important;
  background-color: var(--natural-white) !important;
  border-radius: 10px;
}
.butn:first-child {
  background-color: var(--color-green) !important;
  color: var(--natural-white) !important;
}

.container-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap !important;
  margin-inline: auto;
  text-align: left !important;
}

.container-box h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.image-H {
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid var(--color-green); */
}
.image-H img {
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.start {
  color: var(--natural-white) !important;
  text-decoration: none;
  font-weight: 500;
  /* font-size: 16px; */
  padding: 0.5rem 2.4rem !important;
  background-color: var(--color-bg-2) !important;
  border-radius: 20px;
}
.start:hover {
  letter-spacing: 1px;
  transition: letter-spacing var(--transition);
}

.general {
  background-color: var(--color-bg-2);
  height: 100dvh;
  width: 100dvw;
}

.container-g {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container-g .content {
  width: min(calc(100% - 15%), 85%);
  /* width: 100%; */
  margin-left: auto;
  z-index: 1;
  position: relative;
}

@media (max-width: 769px) {
  .container-box {
    display: flex !important;
    flex-flow: column-reverse wrap !important;
    text-align: center;
  }
}
